form {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

input, select {
  width: 100%; 
  margin-bottom: 1rem;   
}

input[type="checkbox"] {
  width: auto;
}

img {
  width: 50%;
  margin-bottom: 1rem;
}
* {
  margin: 0;
  padding: 0;
}

body {
    padding: 1rem;
}

form > * {
  margin: 1rem;
}

li {
  display: flex;
  align-items: center;
}

li > * {
  margin: 0.5rem;
  width: 33%;
}
* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0.5rem 0;
}

header { 
  background-color: salmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

button {
  background-color: gray;
  color: white;
  padding: 0.25rem;
  margin: 0.5rem;
}

button span[role="img"] {
  color: transparent;
  text-shadow: 0 0 0 white;
  margin-right: 0.5rem;
}

main {
  margin: 0 auto;
  width: 90vw;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: cornflowerblue;
}

.card img {
  width: 100%;
}